@import "tailwindcss";

@theme {
  --color-primary: #BBFBFF;
  --color-secondary: #5409DA;
  --color-accent: #4E71FF;
}
/* transparent scroll track class called hide-scroll-track */
.hide-scroll-track::-webkit-scrollbar {
  width: 8px;    /* width of the entire scrollbar */
}
.hide-scroll-track::-webkit-scrollbar-track {
  background: transparent;   /* color of the tracking area */
}
.hide-scroll-track::-webkit-scrollbar-thumb {
  background-color: #4E71FF;
  border-radius: 20px;
  border: 3px solid transparent;
}